<% if @photo.present? %>
  <div id="image_container" data-image-id="<%= @photo.id %>">
    <%= image_tag @photo.image.url, id: 'photo' %>
    <%= link_to "Like", '#', id: 'like' %>
    <%= link_to "Dislike", '#', id: 'dislike' %>
  </div>
<% end %>

<div id="chat_room_container">
</div>
