<%= form_for @photo, url: user_photos_path(current_user), html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.file_field :image, as: :image %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
